* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.clock {
    width: 250px;
    height: 250px;
    border: 8px solid #333;
    border-radius: 50%;
    position: relative;
    top: 18%;
    background: white;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%) rotate(90deg);
  background: #333;
}

.hour {
  height: 60px;
  width: 6px;
  background: #000;
  z-index: 3;
}

.minute {
  height: 90px;
  width: 4px;
  background: #555;
  z-index: 2;
}

.second {
  height: 100px;
  width: 2px;
  background: red;
  z-index: 1;
}

.center {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.numbers {
    width: 100%;
    height: 100%;
    color: aqua;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.number {
    background-color: #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


#twelve {
    position: absolute;
    top: -1em;
    left: 4.8em
}

#one {
    position: absolute;
    top: -0.1em;
    left: 8.2em
}

#two {
    position: absolute;
    top: 2em;
    left: 10.6em
}

#three {
    position: absolute;
    top: 5em;
    left: 11.5em
}

#four {
    position: absolute;
    top: 8em;
    left: 10.3em;
}

#five {
    position: absolute;
    top: 10.5em;
    left: 8.6em;
}

#six {
    position: absolute;
    top: 11em;
    left: 4.8em;
}

#seven {
    position: absolute;
    top: 10em;
    left: 2em;
}

#eight {
    position: absolute;
    top: 8em;
    left: -0.1em;
}

#nine {
    position: absolute;
    top: 5em;
    left: -0.8em;
}

#ten {
    position: absolute;
    top: 2.4em;
    left: -0.1em;
}

#eleven {
    position: absolute;
    top: 0.1em;
    left: 2em;
}
